<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_7"class="modal-toggle" />
<div class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold text-green-500 ">Congratulation !<h3>
        <p class="py-4">You successfully add to the cart. Click outside of the box</p>
        <a class='text-amber-600 font-serif font-bold hover:text-green-500 justify-end' href="{% url "cart" %}">Go to cart page..</a>
    </div>
    <label class="modal-backdrop"for="my_modal_7">Close</label>
</div>