<nav class='px-5 pt-5 bg-gray-500 rounded-t-lg'>
    <div class="flex justify-between ">
        <div>
            <a href="{% url "home" %}" class="text-3xl italic"><span class="text-red-400 font-bold">BD </span> <span  class=" font-bold text-green-400">Mart</span></a>
            </div>
            
            <div class='flex gap-5'>
                <form action="" method="post" class='flex gap-2'>
                    {% csrf_token %}
                    <input class='outline-none border-b-4 border-sky-500 px-5 rounded' type="search" name="" id="" placeholder='Search...'>
                    <button class='bg-green-500 hover:bg-green-600 px-3 py-0 rounded' type="submit">Search</button>
                </form>
                <div class="dropdown">
                    <label tabindex="0" class="btn m-1">Menu</label>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "productList" %}">Men's Product</a></li>
                    <li><a href="">Women's Product</a></li>
                    <li><a href="">Children's Product</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Toys</a></li>
                    <li><a href="">Contact</a></li>
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'signup' %}">SignUp</a></li>
                    <li><a href="{% url 'signin' %}">SignIn</a></li>
                    {% else %}
                    <li><a href="{% url 'signout' %}">Sign Out</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% comment %}  {% endcomment %}
    <menu class = 'bg-green-200 py-1 mt-5 px-2'>
        <div class='flex justify-between'>
            
            <div>
                <ul class='flex gap-10 text-xl'>
                    <li>
                        <div class="drawer">
                            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                            <div class="drawer-content">
                                <!-- Page content here -->
                                <label for="my-drawer" class=" drawer-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                    </svg>

                                    </label>
                            </div> 
                            <div class="drawer-side">
                                <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                                <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                                <!-- Sidebar content here -->
                                <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "productList" %}">Men's Product</a></li>
                    <li><a href="">Women's Product</a></li>
                    <li><a href="">Children's Product</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Toys</a></li>
                    <li><a href="">Contact</a></li>
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'signup' %}">SignUp</a></li>
                    <li><a href="{% url 'signin' %}">SignIn</a></li>
                    {% else %}
                    <li><a href="{% url 'signout' %}">Sign Out</a></li>
                    {% endif %}
                    
                            </ul>
                        </div>
                    </li>
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "productList" %}">Men's Product</a></li>
                    <li><a href="">Women's Product</a></li>
                    <li><a href="">Children's Product</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Toys</a></li>
                    <li><a href="">Contact</a></li>
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'signup' %}">SignUp</a></li>
                    <li><a href="{% url 'signin' %}">SignIn</a></li>
                    {% else %}
                    <li><a href="{% url 'signout' %}">Sign Out</a></li>
                    {% endif %}
                </ul>
            </div>
            
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <div class='text-xl font-bold'>
                <a href="{% url "cart" %}" class='flex'>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                    </svg>
                    Cart
                </a>
                {% comment %} {% if cart_count == 0 %} {% endcomment %}
                <span></span>
                {% comment %} {% else %} {% endcomment %}
                <span class="cart-count">{{ cart_count }}</span>
            </div>
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </menu>
</nav>

