{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class='w-10/12 mx-auto'>
        <div class="border-l-[50px] border-t-2 border-gray-600/50 mt-10">
            <h1 class='text-3xl text-center text-green-600'>Your Choosen item</h1>
        </div>
        <div>
            <ul>
                {% for item in cart_items %}
                <li class="cart-item flex justify-between items-center p-3 border-b-2 border-slate-800">
                    <div class="flex items-center">
                        <div class="font-bold mr-3 flex-1 whitespace-nowrap overflow-hidden text-ellipsis">{{ item.product.title }}</div>
                        <form action="{% url 'removeFromCart' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn bg-orange-500 hover:bg-red-500" type="submit">Remove</button>
                        </form>
                    </div>
                    <div class="flex items-center mr-3">
                        <form action="{% url 'increase-cart-item' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline btn-error hover:btn-success increase-quantity" type="submit">+</button>
                        </form>
                        <span class="item-quantity">{{ item.quantity }}</span>
                        <form action="{% url 'decrease-cart-item' item.product.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline btn-error hover:btn-error decrease-quantity" type="submit">-</button>
                        </form>
                    </div>
                    <div class="font-bold" data-price="{{ item.product.price }}">
                        ${{ item.product.price }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a class="btn mt-5 bg-green-600 font-bold  hover:underline rounded-lg" href="{% url 'home' %}">Continue Shopping</a>

            <a class="btn mt-5 bg-sky-500 rounded-lg font-bold hover:underline hover:bg-green-700" href="#">Checkout</a>
        </div>       
    </section>
    
{% endblock content %}