{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class='w-10/12 mx-auto'>
        {% include "includes/message.html" %}
        {% comment %} carousel Part {% endcomment %}
        <div class='my-5'>
            {% include "includes/carousel.html" %}
        </div>
            {% comment %} boy products {% endcomment %}
        <div class='mt-10'>
            <a href="{% url "productList" %}">
                <div class="border-l-[50px] border-t-2 border-gray-600/50">
                    <h1 class="text-2xl ml-5">Men's Product</h1>
                    <p class='ml-5'>See More..</p>
                </div>
            </a>
            <div class="products grid grid-cols-4 gap-4 mt-5">
                {% for product in productsM %}
                    <div class="card w-96 bg-base-100 shadow-xl">
                        <figure><img class='w-full' src="{{product.img.url}}" alt="Shoes" /></figure>
                        <div class="card-body">
                            <a href="{% url "product" product.id %}" class=''>
                                <h2 class="card-title hover:underline">{{product.title}}</h2>
                            </a>
                            <p><span class="font-bold">Price:</span>  {{product.price}} TK</p>
                            <div class="card-actions justify-end">
                                {% include "includes/button.html" %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
            {% comment %} girls products {% endcomment %}

            
    </section>
{% endblock content %}

